name: Run Automation and Deploy Page

# Trigger on push to the main branch
on:
  push:
    branches:
      - main

jobs:
  convert_excel:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install Dependencies
        run: |
          npm install
          npm install xlsx

      - name: Run excel conversion
        run: node ./automation-scripts/excelToObject.js

      - name: Run json conversion
        run: node ./automation-scripts/jsonToObject.js

      - name: Run image list creation
        run: node ./automation-scripts/createImageList.js

      - name: Copy images to correct folder
        run: |
          rm -rf ./public/images
          mkdir ./public/images
          cp -r ./config/images/* ./public/images

      - name: Copy qrs to correct folder
        run: |
          rm -rf ./public/qrs
          mkdir ./public/qrs
          cp -r ./config/qrs/* ./public/qrs

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          if [[ $(git status --porcelain ./src/data ./public/images) ]]; then
            git add ./src/data ./public/images
            git commit -m "Automated update from config folder"
            git push
          else
            echo "No changes to commit"
          fi

      - name: Build React app
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
